In [1]:
import pandas as pd
import numpy as np
import os, sys

sys.path.append('../')
from syndp.utils import preprocessing

In [2]:
toy_data = pd.DataFrame({
    "ID": [x for x in range(1,101)],
    "SEX":np.random.choice(range(0,2), 100, p=[0.6, 0.4], replace=True),
    "AGE":np.random.normal(51, 2, size=100),
    "HR" : np.random.random_integers(40,100, 100),
    "CANCER_SEVERITY":np.random.choice(range(0,3), 100, p=[0.7,0.2,0.1], replace=True),
    "MED_STATUS" : np.random.choice(['A','B','C','D'], 100, p = [0.1,0.3,0.2,0.4], replace=True)
})

toy_data.head()

   ID  SEX        AGE  HR  CANCER_SEVERITY MED_STATUS
0   1    0  54.197152  88                1          D
1   2    0  51.961675  85                0          B
2   3    0  52.889855  48                2          D
3   4    1  54.665618  96                0          D
4   5    0  54.028897  65                0          D

In [5]:
dummified = preprocessing.dummify(toy_data, ["SEX",'CANCER_SEVERITY','MED_STATUS'], prefix_separator="-")

dummified.head()

,ID,AGE,HR,SEX-0,SEX-1,CANCER_SEVERITY-0,CANCER_SEVERITY-1,CANCER_SEVERITY-2,MED_STATUS-A,MED_STATUS-B,MED_STATUS-C,MED_STATUS-D
0,1,54.197152,88,1,0,0,1,0,0,0,0,1
1,2,51.961675,85,1,0,1,0,0,0,1,0,0
2,3,52.889855,48,1,0,0,0,1,0,0,0,1
3,4,54.665618,96,0,1,1,0,0,0,0,0,1
4,5,54.028897,65,1,0,1,0,0,0,0,0,1

In [18]:
A = dummified.loc[:,"AGE":].cov().to_numpy()

$ A * x = Covariance~Matrix$,\
then $x = A^{-1} * Covariance~Matrix$, \
Since $A$ may not have a inverse matrix, we may calculate a pseudo inverse matrix.

$x = ((A.T)*A)^{-1}*A.T * Covariance~Matrix$

In [34]:
cov = dummified.loc[:,'AGE':].cov().to_numpy()

In [25]:
A = dummified.loc[:,'AGE':].to_numpy()

A.shape

(100, 11)

In [36]:
pseudo_inverse = np.linalg.inv((A.T@A))

(pseudo_inverse @ A.T).shape

(11, 100)